{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",
    "plugin:effector/recommended",
    "plugin:effector/scope"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    },
    "import/core-modules": ["windi.css"]
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "import-helpers",
    "react-hooks",
    "effector"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["virtual:windi.css", "virtual:pwa-register/react"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "server/**/*.ts",
          "config/**/*.ts",
          "*.config.ts",
          "**/*.test.ts",
          "**/*.test.tsx"
        ]
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^@/",
          "/^components/",
          "/^useCases/",
          "/^services/",
          "/^hooks/",
          "/^utils/",
          "/^stores/",
          "/^domains/",
          "/^converters/",
          "/^config/",
          "/^assets/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
