{
  "env": {
    "jest": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "import-helpers",
    "react-hooks"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "error",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^@/",
          "/^components/",
          "/^useCases/",
          "/^services/",
          "/^hooks/",
          "/^utils/",
          "/^stores/",
          "/^domains/",
          "/^converters/",
          "/^config/",
          "/^assets/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.test.tsx", "**/setupTests.ts"]
      }
    ]
  }
}
